In [1]:
import pandas as pd
import wget
#urls='https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'        
#wget.download(urls)

In [2]:
confirmed_df=pd.read_csv('time_series_covid19_confirmed_global.csv')
deaths_df=pd.read_csv('time_series_covid19_deaths_global.csv')
recovered_df=pd.read_csv('time_series_covid19_recovered_global.csv')

In [3]:
confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,56322,56384,56454,56517,56572,56595,56676,56717,56779,56873
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,124419,124723,125157,125506,125842,126183,126531,126795,126936,127192
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,116946,117061,117192,117304,117429,117524,117622,117739,117879,118004
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,11888,11944,12010,12053,12115,12174,12231,12286,12328,12363
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,22132,22182,22311,22399,22467,22579,22631,22717,22885,23010

In [4]:
confirmed_df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '3/29/21', '3/30/21', '3/31/21', '4/1/21', '4/2/21', '4/3/21', '4/4/21',
       '4/5/21', '4/6/21', '4/7/21'],
      dtype='object', length=446)

In [5]:
confirmed_df.columns[4:]

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '3/29/21', '3/30/21', '3/31/21', '4/1/21', '4/2/21', '4/3/21', '4/4/21',
       '4/5/21', '4/6/21', '4/7/21'],
      dtype='object', length=442)

In [6]:
#all the dates columns are putting into a variable called dates
date=confirmed_df.columns[4:]
confirmed_df_long=confirmed_df.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'],
    value_vars=date,
    var_name='Date',
    value_name='Confirmed'
)

deaths_df_long=deaths_df.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'],
    value_vars=date,
    var_name='Date',
    value_name='Deaths'
)

recovered_df_long=recovered_df.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'],
    value_vars=date,
    var_name='Date',
    value_name='Recovered'
)

In [7]:
confirmed_df_long.head(-10)

,Province/State,Country/Region,Lat,Long,Date,Confirmed
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
121093,Gibraltar,United Kingdom,36.140800,-5.353600,4/7/21,4275
121094,Isle of Man,United Kingdom,54.236100,-4.548100,4/7/21,1572
121095,Montserrat,United Kingdom,16.742498,-62.187366,4/7/21,20
121096,"Saint Helena, Ascension and Tristan da Cunha",United Kingdom,-7.946700,-14.355900,4/7/21,4
121097,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,4/7/21,2344

In [8]:
#merge three different dataset
#merge confirmed_df_long and death_df_long
full_table= confirmed_df_long.merge(
    right= deaths_df_long,
    how= 'left',
    on=['Province/State','Country/Region','Lat','Long','Date']
)

#merge full_table with recovered_df_long
full_table=full_table.merge(
    right=recovered_df_long,
    how='left',
    on=['Province/State','Country/Region','Lat','Long','Date']
)

full_table.head(100)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0,0,0.0
1,NaN,Albania,41.153300,20.168300,1/22/20,0,0,0.0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0,0,0.0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0,0,0.0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0,0,0.0
...,...,...,...,...,...,...,...,...
95,NaN,Costa Rica,9.748900,-83.753400,1/22/20,0,0,0.0
96,NaN,Cote d'Ivoire,7.540000,-5.547100,1/22/20,0,0,0.0
97,NaN,Croatia,45.100000,15.200000,1/22/20,0,0,0.0
98,NaN,Cuba,21.521757,-77.781167,1/22/20,0,0,0.0
99,NaN,Cyprus,35.126400,33.429900,1/22/20,0,0,0.0

In [9]:
#data cleaning
#convertig date from string to date format
full_table['Date']=pd.to_datetime(full_table['Date'])
full_table.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0.0
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0

In [10]:
#finding missing values
full_table.isna().sum()

Province/State    83538
Country/Region        0
Lat                 442
Long                442
Date                  0
Confirmed             0
Deaths                0
Recovered          9282
dtype: int64

In [11]:
full_table['Recovered']=full_table['Recovered'].fillna(0)

In [12]:
full_table.isna().sum()

Province/State    83538
Country/Region        0
Lat                 442
Long                442
Date                  0
Confirmed             0
Deaths                0
Recovered             0
dtype: int64

In [99]:
#no of active cases=confirmed-death-recovered
full_table['Active']=full_table['Confirmed']-full_table['Deaths']-full_table['Recovered']
full_table.head(75)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0,0.0
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0.0,0.0
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0,0.0
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0,0.0
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
70,Hong Kong,China,22.30000,114.200000,2020-01-22,0,0,0.0,0.0
71,Hubei,China,30.97560,112.270700,2020-01-22,444,17,28.0,399.0
72,Hunan,China,27.61040,111.708800,2020-01-22,4,0,0.0,4.0
73,Inner Mongolia,China,44.09350,113.944800,2020-01-22,0,0,0.0,0.0
74,Jiangsu,China,32.97110,119.455000,2020-01-22,1,0,0.0,1.0

In [57]:
full_grouped = full_table.groupby(['Date','Country/Region'])[['Confirmed','Deaths','Recovered','Active']].sum().reset_index()

In [98]:
full_grouped.head(50)

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New Deaths,New recovered
0,2020-01-22,Afghanistan,0,0,0.0,0.0,0,0,0
1,2020-01-22,Albania,0,0,0.0,0.0,0,0,0
2,2020-01-22,Algeria,0,0,0.0,0.0,0,0,0
3,2020-01-22,Andorra,0,0,0.0,0.0,0,0,0
4,2020-01-22,Angola,0,0,0.0,0.0,0,0,0
5,2020-01-22,Antigua and Barbuda,0,0,0.0,0.0,0,0,0
6,2020-01-22,Argentina,0,0,0.0,0.0,0,0,0
7,2020-01-22,Armenia,0,0,0.0,0.0,0,0,0
8,2020-01-22,Australia,0,0,0.0,0.0,0,0,0
9,2020-01-22,Austria,0,0,0.0,0.0,0,0,0
10,2020-01-22,Azerbaijan,0,0,0.0,0.0,0,0,0
11,2020-01-22,Bahamas,0,0,0.0,0.0,0,0,0
12,2020-01-22,Bahrain,0,0,0.0,0.0,0,0,0
13,2020-01-22,Bangladesh,0,0,0.0,0.0,0,0,0
14,2020-01-22,Barbados,0,0,0.0,0.0,0,0,0
15,2020-01-22,Belarus,0,0,0.0,0.0,0,0,0
16,2020-01-22,Belgium,0,0,0.0,0.0,0,0,0
17,2020-01-22,Belize,0,0,0.0,0.0,0,0,0
18,2020-01-22,Benin,0,0,0.0,0.0,0,0,0
19,2020-01-22,Bhutan,0,0,0.0,0.0,0,0,0
20,2020-01-22,Bolivia,0,0,0.0,0.0,0,0,0
21,2020-01-22,Bosnia and Herzegovina,0,0,0.0,0.0,0,0,0
22,2020-01-22,Botswana,0,0,0.0,0.0,0,0,0
23,2020-01-22,Brazil,0,0,0.0,0.0,0,0,0
24,2020-01-22,Brunei,0,0,0.0,0.0,0,0,0
25,2020-01-22,Bulgaria,0,0,0.0,0.0,0,0,0
26,2020-01-22,Burkina Faso,0,0,0.0,0.0,0,0,0
27,2020-01-22,Burma,0,0,0.0,0.0,0,0,0
28,2020-01-22,Burundi,0,0,0.0,0.0,0,0,0
29,2020-01-22,Cabo Verde,0,0,0.0,0.0,0,0,0
30,2020-01-22,Cambodia,0,0,0.0,0.0,0,0,0
31,2020-01-22,Cameroon,0,0,0.0,0.0,0,0,0
32,2020-01-22,Canada,0,0,0.0,0.0,0,0,0
33,2020-01-22,Central African Republic,0,0,0.0,0.0,0,0,0
34,2020-01-22,Chad,0,0,0.0,0.0,0,0,0
35,2020-01-22,Chile,0,0,0.0,0.0,0,0,0
36,2020-01-22,China,548,17,28.0,503.0,0,0,0
37,2020-01-22,Colombia,0,0,0.0,0.0,0,0,0
38,2020-01-22,Comoros,0,0,0.0,0.0,0,0,0
39,2020-01-22,Congo (Brazzaville),0,0,0.0,0.0,0,0,0
40,2020-01-22,Congo (Kinshasa),0,0,0.0,0.0,0,0,0
41,2020-01-22,Costa Rica,0,0,0.0,0.0,0,0,0
42,2020-01-22,Cote d'Ivoire,0,0,0.0,0.0,0,0,0
43,2020-01-22,Croatia,0,0,0.0,0.0,0,0,0
44,2020-01-22,Cuba,0,0,0.0,0.0,0,0,0
45,2020-01-22,Cyprus,0,0,0.0,0.0,0,0,0
46,2020-01-22,Czechia,0,0,0.0,0.0,0,0,0
47,2020-01-22,Denmark,0,0,0.0,0.0,0,0,0
48,2020-01-22,Diamond Princess,0,0,0.0,0.0,0,0,0
49,2020-01-22,Djibouti,0,0,0.0,0.0,0,0,0

In [107]:
import numpy as np
full_grouped = full_table.groupby(['Date','Country/Region'])[['Confirmed','Deaths','Recovered','Active']].sum().reset_index()
temp=full_grouped.groupby(['Country/Region','Date'])[['Confirmed','Deaths','Recovered']]
temp=temp.sum().diff().reset_index()

mask=temp['Country/Region'] != temp['Country/Region'].shift(1)
temp.loc[mask,'Confirmed']=np.nan
temp.loc[mask,'Deaths']=np.nan
temp.loc[mask,'Recovered']=np.nan
#rename column
temp.columns=['Country/Region','Date','New cases','New Deaths','New recovered']

full_grouped=pd.merge(full_grouped,temp,how='left',on=['Country/Region','Date'])
#fill na with 0
full_grouped=full_grouped.fillna(0)
#fixing datatypes
cols=['New cases','New Deaths','New recovered']
full_grouped[cols]=full_grouped[cols].astype(int)
full_grouped['New cases']=full_grouped['New cases'].apply(lambda x:0 if x<0 else x)

In [117]:
full_grouped.head(50)

         Date            Country/Region  Confirmed  Deaths  Recovered  Active
0  2020-01-22               Afghanistan          0       0        0.0     0.0
1  2020-01-22                   Albania          0       0        0.0     0.0
2  2020-01-22                   Algeria          0       0        0.0     0.0
3  2020-01-22                   Andorra          0       0        0.0     0.0
4  2020-01-22                    Angola          0       0        0.0     0.0
5  2020-01-22       Antigua and Barbuda          0       0        0.0     0.0
6  2020-01-22                 Argentina          0       0        0.0     0.0
7  2020-01-22                   Armenia          0       0        0.0     0.0
8  2020-01-22                 Australia          0       0        0.0     0.0
9  2020-01-22                   Austria          0       0        0.0     0.0
10 2020-01-22                Azerbaijan          0       0        0.0     0.0
11 2020-01-22                   Bahamas          0       0        0.0     0.0
12 2020-01-22                   Bahrain          0       0        0.0     0.0
13 2020-01-22                Bangladesh          0       0        0.0     0.0
14 2020-01-22                  Barbados          0       0        0.0     0.0
15 2020-01-22                   Belarus          0       0        0.0     0.0
16 2020-01-22                   Belgium          0       0        0.0     0.0
17 2020-01-22                    Belize          0       0        0.0     0.0
18 2020-01-22                     Benin          0       0        0.0     0.0
19 2020-01-22                    Bhutan          0       0        0.0     0.0
20 2020-01-22                   Bolivia          0       0        0.0     0.0
21 2020-01-22    Bosnia and Herzegovina          0       0        0.0     0.0
22 2020-01-22                  Botswana          0       0        0.0     0.0
23 2020-01-22                    Brazil          0       0        0.0     0.0
24 2020-01-22                    Brunei          0       0        0.0     0.0
25 2020-01-22                  Bulgaria          0       0        0.0     0.0
26 2020-01-22              Burkina Faso          0       0        0.0     0.0
27 2020-01-22                     Burma          0       0        0.0     0.0
28 2020-01-22                   Burundi          0       0        0.0     0.0
29 2020-01-22                Cabo Verde          0       0        0.0     0.0
30 2020-01-22                  Cambodia          0       0        0.0     0.0
31 2020-01-22                  Cameroon          0       0        0.0     0.0
32 2020-01-22                    Canada          0       0        0.0     0.0
33 2020-01-22  Central African Republic          0       0        0.0     0.0
34 2020-01-22                      Chad          0       0        0.0     0.0
35 2020-01-22                     Chile          0       0        0.0     0.0
36 2020-01-22                     China        548      17       28.0   503.0
37 2020-01-22                  Colombia          0       0        0.0     0.0
38 2020-01-22                   Comoros          0       0        0.0     0.0
39 2020-01-22       Congo (Brazzaville)          0       0        0.0     0.0
40 2020-01-22          Congo (Kinshasa)          0       0        0.0     0.0
41 2020-01-22                Costa Rica          0       0        0.0     0.0
42 2020-01-22             Cote d'Ivoire          0       0        0.0     0.0
43 2020-01-22                   Croatia          0       0        0.0     0.0
44 2020-01-22                      Cuba          0       0        0.0     0.0
45 2020-01-22                    Cyprus          0       0        0.0     0.0
46 2020-01-22                   Czechia          0       0        0.0     0.0
47 2020-01-22                   Denmark          0       0        0.0     0.0
48 2020-01-22          Diamond Princess          0       0        0.0     0.0
49 2020-01-22                  Djibouti          0       0        0.0     0.0